{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <section class="py-3 text-center container">
        <div class="row py-lg-3">
            {{ form_start(searchForm) }}
            {{ form_widget(searchForm) }}
            {{ form_end(searchForm) }}
        </div>
    </section>

    {% if images|length > 0 %}
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for image in images %}
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="{{ absolute_url('/uploads/') ~ image.imageFilename }}" alt=""/>
                                <div class="card-body">
                                    <p class="card-text">Description</p>
                                    <div class="d-flex justify-content-left align-items-center">
                                        {% for tag in image.tags %}
                                            <span class="badge bg-dark">{{ tag }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <section class="py-3 text-center container">
            <h1>No images :(</h1>
        </section>
    {% endif %}
{% endblock %}
